<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Jinymusim homepage</title>
</head>

<style>
    .amazon-button {
        background-color: rgb(255,216,20);
        border: none;
        border-radius: 18px;
        height: 36px;
        width: 220px;
        cursor: pointer;
        font-weight: bold;
        transition: opacity 0.15s,
            box-shadow 0.15s;
    }

    .amazon-button:hover {
        opacity: 0.7;
        box-shadow: 3px 5px 5px rgba(0,0,0,0.15);
    }

    .amazon-button:active {
        opacity: 0.5;
    }
  </style>

<body>
  <div class="row">
    <a class="amazon-button" href="/mailme/">
      Add to Cart
    </a>
  </div>
</body>


</html>