<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
  <title id="pageTitle">Home page</title>
</head>


<body>
  <header th:include="static/fragments :: header">
  </header>
  <div th:include="static/fragments :: menu">
  </div>

  <div class="container ml-2 mb-2 mr-2">
    <h1 class="mb-2">About me:</h1>
    <p>My name is Michal Chudoba, and I'm a student of computer science at Charles University.</p>
    <P class="mb-5">Currently I'm begging the master’s degree program with focus on AI and Machine Learning.</P>
    <h2 class="mb-2">Project sample:</h2>
    <a href="https://github.com/jinymusim/Bachlors">
      <img th:src="@{/images/patchwork-game.png}" class="img-fluid" alt="Game Patchwork"/>
    </a>
  </div>

  <footer th:include="static/fragments :: footer">
  </footer>
</body>


</html>