<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
  <title id="pageTitle">Home page</title>
</head>


<body>
  <header th:include="static/fragments :: header">
  </header>
  <div th:include="static/fragments :: menu">
  </div>

  <div class="ml-5 mb-5 mr-5">
    <button class="amazon-button" type="button" onclick="location.href=/mailme/">
      Add to Cart
    </button>
  </div>

  <footer th:include="static/fragments :: footer">
  </footer>
</body>


</html>