<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>



<body>
<div th:replace="fragments :: header"/>
<div th:replace="fragments :: menu"/>
<form  id="formMail" method="post" action="">
    <div class="row">
        <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <textarea id="emailAddress" name="emailAddress" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="1" placeholder="example: noreply@google.com"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="emailText">Email text:</label>
            <textarea id="emailText" name="emailText" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="10" placeholder="Text for email recipient"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Send">
    </div>


</form>

<div th:replace="fragments :: footer"/>
</body>
</html>