<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
    <title id="pageTitle">Mail me</title>
</head>



<body>
<div th:include="static/fragments :: header">
</div>
<div th:include="static/fragments :: menu">
</div>
<form  id="formMail" method="post" action="">
    <div class="row">
        <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <textarea id="emailAddress" name="emailAddress" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="1" placeholder="example: noreply@google.com"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="emailText">Email text:</label>
            <textarea id="emailText" name="emailText" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="10" placeholder="Text for email recipient"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Send">
    </div>


</form>

<div th:include="static/fragments :: footer">

</div>
</body>
</html>