<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MailMe</title>
</head>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script> 
  $(function(){
    $("#header").load("header.html"); 
    $("#footer").load("footer.html"); 
  });
  </script> 

<body>
<form  id="formMail" method="post" action="">
    <div class="row">
        <div class="form-group">
            <label for="emailAddress">Email Address:</label>
            <textarea id="emailAddress" name="emailAddress" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="1" placeholder="example: noreply@google.com"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="emailText">Email text:</label>
            <textarea id="emailText" name="emailText" class="form-control text-wrap" spellcheck="false"
                      type="text" cols="20" rows="10" placeholder="Text for email recipient"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Send">
    </div>

</form>

</body>
</html>