<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
    <title id="pageTitle">Mail me</title>
</head>



<body>
    <header th:include="static/fragments :: header">
    </header>
    <div th:include="static/fragments :: menu">
    </div>

    <form  id="formMail" method="post" action="">
        <div class="container ml-2 mr-2 mb-2">
            <div class="mb-2">
                <div class="form-group">
                    <label for="emailAddress">Email Address:</label>
                    <textarea id="emailAddress" name="emailAddress" class="form-control text-wrap" spellcheck="false"
                        type="text" cols="20" rows="1" placeholder="example: noreply@google.com"></textarea>
                </div>
            </div>
            <div class="mb-2">
                <div class="form-group">
                    <label for="emailText">Email text:</label>
                    <textarea id="emailText" name="emailText" class="form-control text-wrap" spellcheck="false"
                        type="text" cols="20" rows="10" placeholder="Text for email recipient"></textarea>
                </div>
            </div>
            <div class="mb-2">
                <input class="amazon-button" type="submit" value="Send">
            </div>
        </div>
    </form>

    <footer th:include="static/fragments :: footer">
    </footer>
</body>


</html>