<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
  <title id="pageTitle">My Projects</title>
</head>


<body>
    <header th:include="static/fragments :: header">
    </header>
    <div th:include="static/fragments :: menu">
    </div>
  
    <div class="container ml-2 mb-2 mr-2">

      <h1 class="mb-2">Partaken projects:</h1>

      <div class="grid-space">

          <div class="grid-col">
            <p class="project-title">Bachlors project, Game Patchwork</p>
            <a  target="_blank" href="https://github.com/jinymusim/Bachlors" class="link-style">
              <img th:src="@{/images/patchwork-game.png}"  alt="Game Patchwork" class="img-link"/>
            </a>
          </div>

          <div class="grid-col">
            <p class="project-title">C++ Semestral project, MLP from scrath</p>
            <a target="_blank" href="https://github.com/jinymusim/CppSemestralProject" class="link-style">
              <img th:src="@{/images/cpp-semestral.png}"  alt="Cpp semestral project" class="img-link"/>
            </a>
          </div>

          <div class="grid-col">
            <p class="project-title">JAVA Semestral project, Game of Ships with AI</p>
            <a target="_blank" href="https://github.com/jinymusim/JavaSemesterProject" class="link-style">
              <img th:src="@{/images/java-semestral.png}"  alt="Java semestral project" class="img-link"/>
            </a>
          </div>

          <div class="grid-col">
            <p class="project-title">Personal web project</p>
            <a target="_blank" href="https://github.com/jinymusim/SpringPersonalWeb" class="link-style">
              <img th:src="@{/images/spring-web.png}"  alt="Spring personal web project" class="img-link"/>
            </a>
          </div>

      </div>

    </div>
  
    <footer th:include="static/fragments :: footer">
    </footer>
  </body>
  
  
  </html>