<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
  <title id="pageTitle">My Projects</title>
</head>


<body>
    <header th:include="static/fragments :: header">
    </header>
    <div th:include="static/fragments :: menu">
    </div>
  
    <div class="container ml-2 mb-2 mr-2">

      <h1 class="mb-2">Partaken projects:</h1>

      <ul class="nav mb-2">

        <li class="ml-2">
          <a  target="_blank" href="https://github.com/jinymusim/Bachlors">
            <img th:src="@{/images/patchwork-game.png}"  alt="Game Patchwork"/>
          </a>
        </li>

        <li>
          <a target="_blank" href="https://github.com/jinymusim/CppSemestralProject">
            <img th:src="@{/images/cpp-semestral.png}"  alt="Cpp semestral project"/>
          </a>
        </li>

      </ul>

      <ul class="nav mb-2">

        <li class="ml-2">
            <a target="_blank" href="https://github.com/jinymusim/JavaSemesterProject">
                <img th:src="@{/images/java-semestral.png}"  alt="Java semestral project"/>
            </a>
        </li>

        <li>
          <a target="_blank" href="https://github.com/jinymusim/SpringPersonalWeb">
              <img th:src="@{/images/spring-web.png}"  alt="Spring personal web project"/>
          </a>
        </li>

      </ul>

    </div>
  
    <footer th:include="static/fragments :: footer">
    </footer>
  </body>
  
  
  </html>