<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="static/fragments :: html_head">
  <title id="pageTitle">My Projects</title>
</head>


<body>
    <header th:include="static/fragments :: header">
    </header>
    <div th:include="static/fragments :: menu">
    </div>
  
    <div class="container ml-2 mb-2 mr-2">
      <h1 class="mb-2">Partaken projects:</h1>
      <div class="row">
        <div class="column mb-2">
        <a href="https://github.com/jinymusim/Bachlors">
            <img th:src="@{/images/patchwork-game.png}" style="width:100%" alt="Game Patchwork"/>
        </a>
        </div>
        <div clas="column mb-2">
            <a href="https://github.com/jinymusim/CppSemestralProject">
                <img th:src="@{/images/cpp-semestral.png}" style="width:100%" alt="Cpp semestral project"/>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="column mb-2">
            <a href="https://github.com/jinymusim/JavaSemesterProject">
                <img th:src="@{/images/java-semestral.png}" style="width:100%" alt="Java semestral project"/>
            </a>
        </div>
        <div class="column mb-2">
            <a href="https://github.com/jinymusim/SpringPersonalWeb">
                <img th:src="@{/images/spring-web.png}" style="width:100%" alt="Spring personal web project"/>
            </a>
        </div>
      </div>

    </div>
  
    <footer th:include="static/fragments :: footer">
    </footer>
  </body>
  
  
  </html>